@import 'handorgel/src/style';

$ft-accordion-toggle-size: 1em;

.ft-accordion {
  & {
    width: 100%;
  }

  .toggle {
    display: block;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    background-image: inline('features/accordion/arrow-right.svg');
    width: $ft-accordion-toggle-size;
    height: $ft-accordion-toggle-size;
    transition: transform .2s ease;
  }

  .handorgel__header__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .handorgel__header--open .toggle {
      transform: rotate(90deg);
    }
}
